html, body{
	background: #222;
	color: #eee;
}

h1 {
	font-family: 'Metal Mania', cursive;
	text-align: center;
	color: #eee;
}
p {
	font-family: helvetica;
}
/*
iframe{
	opacity: 0.1;
}
iframe:hover{
	opacity:.6;
}*/
#lyrics{
	margin: 3px;
	max-height: 70%;
}
#playa{
	position: fixed;
    bottom: 0px;
    width: 100%;
}
iframe {
   opacity: 0.1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

iframe:hover {
  opacity: 0.6;
}
img{
	height: 100%;
}

#dvLoading {
   background:#000 url(loader.gif) no-repeat center center;
   height: 100%;
   width: 100%;
   z-index: 9999;
   left: 50%;
   top: 50%;
}
