html{
	background: #222;
	color: #eee;
}

h1 {
	font-family: 'Metal Mania', cursive;
	text-align: center;
}
p {
	font-family: helvetica;
}
/*
iframe{
	opacity: 0.1;
}
iframe:hover{
	opacity:.6;
}*/
#lyrics{
	max-height: 100%;
}
#playa{
	position: fixed;
    bottom: 0px;
    width: 100%;
}
iframe {
   opacity: 0.1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

iframe:hover {
  opacity: 0.6;
}
img{
	width: 100%;
}